@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: "Work Sans", sans-serif;
}

header {
  margin: 50px auto;
  padding: 0 8%;
  background-color: rgba(255, 144, 14, 0.1);
}

/*top nav section work  */

.top-section {
  display: flex;
  justify-content: space-between;
}
.top-section h2 {
  font-size: 2rem;
  cursor: pointer;
}
.navbar ul {
  display: flex;
  gap: 2rem;
}
.navbar ul li a {
  font-size: 1rem;
  font-weight: 500;
  color: #424242;
}

/*========================= Banner section ====================== */
.banner-container {
  display: flex;
  flex-direction: column;
}
.banner-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 55%;
  margin: 3rem auto;
  padding: 2rem auto;
  gap: 0.5rem;
}
.banner-content h1 {
  font-size: 2.5rem;
  font-weight: 700;
}
.banner-content p {
  font-size: 0.7rem;
  text-align: center;
  color: #727272;
}
.banner-content a {
  font-size: 1rem;
  font-weight: 600;
  padding: 0.5rem 1rem;
  border-radius: 0.3rem;
  color: #ffffff;
  background-color: #ff900e;
}
.banner-container .img-section img {
  width: 100%;
}
