@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: "Work Sans", sans-serif;
}

header {
  padding: 2rem 8%;
  background-color: rgba(255, 144, 14, 0.1) !important;
}

/*top nav section work  */

.top-section {
  display: flex;
  justify-content: space-between;
}

.top-section h2 {
  font-size: 2rem;
  cursor: pointer;
}

.navbar ul {
  display: flex;
  gap: 2rem;
}

.navbar ul li a {
  font-size: 1rem;
  font-weight: 500;
  color: #424242;
}

/*========================= Banner section ====================== */
.banner-container {
  display: flex;
  flex-direction: column;
}

.banner-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 55%;
  margin: 3rem auto;
  padding: 2rem auto;
  gap: 0.5rem;
}

.banner-content h1 {
  font-size: 2.5rem;
  font-weight: 700;
}

.banner-content p {
  font-size: 0.7rem;
  text-align: center;
  color: #727272;
}

.banner-content a {
  font-size: 1rem;
  font-weight: 600;
  padding: 0.5rem 1rem;
  border-radius: 0.3rem;
  color: #ffffff;
  background-color: #ff900e;
}

.banner-container .img-section img {
  width: 100%;
}

/*===================== Feature 1 area ================== */

.feature1 {
  display: flex;
  align-items: center;
  margin: 3rem 14%;
  gap: 2rem;
}

.feature1-img-area {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 0.8rem;
}

.feature1-img-area img {
  width: 100%;
}

.feature1-content-area {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.3rem;
  max-width: 542px;
}

.feature1-content-area h2 {
  font-size: 2rem;
  font-weight: 700;
}

.feature1-content-area .gray-color {
  color: #727272;
  font-weight: 500;
}

.feature1-content-area .orange-color {
  color: #ff900e;
}

.feature1-content-area p {
  font-size: 0.7rem;
  color: #727272;
}

.feature1-content-area a {
  font-size: 1rem;
  font-weight: 600;
  padding: 0.5rem 1rem;
  border-radius: 0.3rem;
  color: #ffffff;
  background-color: #ff900e;
}

/*===================== Feature 2 area ================== */

.feature2 {
  display: flex;
  column-gap: 6rem;
  padding: 2rem 8%;
}

.feature2-content-area{
  max-width: 450px;
}

.feature2-content-area .heading-content{
  margin: 2rem auto;
}

.feature2-content-area .heading-content h1{
  font-size: 2.5rem;
  font-weight: 700;
  padding-left: 1rem;
}

.feature2-content-area .heading-content p{
  color: #727272;
  font-size: 0.7rem;
  font-weight: 400;
  margin-top: 1rem;
}

.heading-content .border-left {
  border-left: 0.3rem solid orange;
}

.sub-content {
  margin-bottom: 1rem;
  padding: 1.2rem;
  border-radius: 0.5rem;
  box-shadow: 0 0 16px rgba(0, 0, 0, 0.08);
}

.sub-content h5 {
  font-size: 1rem;
  font-weight: 700;
  margin-bottom: 0.5rem;
}

.sub-content p {
  font-size: 0.8rem;
  font-weight: 400;
  color: #727272;
}
.feature2 .feature2-img-area .girl-img{
  position: relative;
  height: 100%;
}

.feature2 .feature2-img-area img {
  width: 80%;
}

.feature2-img-area .experience-card{
  position: absolute;
  padding: 1.8rem;
  border-radius: 0.5rem;
  color: #ffffff;
  background-color: #FF900E;
  left: -60px;
  bottom: -10px;
}

.feature2-img-area .experience-card h1{
  font-size: 2rem;
  font-weight: 700;
}

.feature2-img-area .experience-card p{
  text-align: center;
  font-size: 0.8rem;
  font-weight: 400;
}

/* <!--============================== Facts area =========================== --> */

.data{
  padding: 2rem 8%;
}

.data .section-title{
 margin-bottom: 3rem;
}
.data .section-title h2{
  font-size: 2.2rem;
  font-weight: 700;
}
.data .section-title p{
  font-size: 0.7rem;
  color: #727272;
  margin-top: 0.6rem;
  width: 35%;
}
.data-box-container{
  display: flex;
  justify-content: space-evenly;
}
.data-box-container .data-box{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  border: 1px solid #FF900E;
  border-radius: 0.4rem;
  padding: 2rem;
  height: 12rem;
  width: 12rem;
  cursor: pointer;
}
.data-box-container .data-box::before{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 1rem;
  background-color: #FF900E;
  transition: width 0.5s ease;
}
.data-box-container .data-box::after{
  content: "";
  position: absolute;
  right: 0;
  bottom: 0;
  width: 0;
  height: 1rem;
  background-color: #FF900E;
  transition: width 0.5s ease;
}
.data-box-container .data-box:hover::before,
.data-box-container .data-box:hover::after{
  width: 100%;
}


.data-box-container .data-box h2{
  color: #424242;
  font-size: 1.6rem;
  margin-top: 0.3rem;
}
.data-box-container .data-box p{
  color: #727272;
  font-size: 0.8rem;
  margin-top: 0.4rem;
}
.data-box-container .data-box img{
  height: 2.5rem;
  width: 2.5rem;
}

/* <!--============================== Sponsor area =========================== --> */

.sponsor-container{
  padding: 2rem 8%;
}
.sponsor-container .sponsor-content-area{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.sponsor-container .sponsor-content-area h2{
  font-size: 2.2rem;
  font-weight: 700;
  margin-bottom: 0.5rem;
}
.sponsor-container .sponsor-content-area p{
  font-size: 0.7rem;
  font-weight: 400;
  color: #727272;
  width: 35%;
  text-align: center;
  line-height: 1rem;
}

.sponsor-logo-area{
  display: grid;
  grid-template-columns: repeat(5,1fr);
  gap: 0.5rem;
  align-items: center;
  justify-content: center;
  margin-top: 2rem;
}
.sponsor-logo-area img{
  width: 50%;
  filter: grayscale();
}

.copy-right-area{
  margin: 5rem 8%;
  border-radius: 0.4rem;
  background-color: #FFF4E7;
}
.copy-right-area p{
  text-align: center;
  padding: 1.5rem;
  font-size: 0.8rem;
  font-weight: 400;
  color: #424242;
}